{% extends 'base.html.twig' %}
{% block title %}Quiz site{% endblock %}
{% block body %}
    <style>
        .row{
            margin-top: 10px;
        }
        .center {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }

        .content {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 100%;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        @media (max-width: 411px) {
            .center {
                width: 100%;
            }
        }
    </style>
    <div class="center">
        <div class="content">
            <blockquote class="blockquote text-center">
                <h1>Create article</h1>
            </blockquote>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col-2">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-10" id="some-custom-id">
                    {{ form_widget(form.title) }}
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    {{ form_label(form.source) }}
                </div>
                <div class="col-10" id="some-custom-id">
                    {{ form_widget(form.source) }}
                </div>
            </div>
            <blockquote class="blockquote text-center">
                <h1>{{ form_widget(form.send) }}</h1>
            </blockquote>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            setTimeout(function() {
                $('.alert-success').slideUp();
            }, 3000);
        });
    </script>
{% endblock %}